* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background-color: #23272A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    padding: 5px;
}

.name {
    color: #404EED;
    font-weight: 700;
}

.data {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2C2F33;
    width: 100%;
    gap: 10px;
    padding: 20px;
    border-radius: 5px;
}

.usuario {
    color: #fff;
    font-weight: 700;
}

.usuario-disconnected {
    color: #fff;
    font-weight: 700;
    text-align: center;
}

.avatar-image {
    display: none;
    width: 50px;
    border-radius: 50%;
}

button {
    width: 140px;
    background-color: #404EED;
    color: #fff;
    padding: 10px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #5769aa;
}

#relogar {
    display: none;
}